<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <script th:attr="src=@{https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js}"></script>
    <script th:attr="src=@{/js/js/allUsers.js}"></script>
    <link rel="stylesheet" th:href="@{/js/bootstrap/css/bootstrap.min.css}"/>
    <meta charset="UTF-8"/>
    <title>All Users</title>
</head>
<body>

<table class="table table-bordered" id="myTable">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <div th:each="users : ${users}">
        <tr>
            <td  th:text="${users.name}"></td>
            <td  th:text="${users.age}"></td>
        </tr>
    </div>
      </tbody>
</table>
<a id="sort" th:href="@{#}"  class="btn btn-danger" role="button">Sort By Name</a>
<a th:href="@{/user}" class="btn btn-info" role="button">New User</a>
<a th:href="@{/}" class="btn btn-warning" role="button">Home</a>

</body>
</html>