<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link th:href="@{/js/css/allUsers.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/js/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<section id="user">
    <br> </br>
    <div class="buttons">
        <!--Main page with buttons that redirect to pages New User , All users -->
        <a th:href="@{/user}" class="btn btn-info" role="button">New User</a>
        <a th:href="@{/users}" class="btn btn-success" role="button">All users</a>

    </div>
</section>
</body>
</html>